/* Coolors Exported Palette - coolors.co/1c1815-004682-a35b4b-5c94c4-c5b086 */

/* HSL */
$pri-text-color: hsla(26%, 14%, 10%, 1);
$pri-brand-color: hsla(208%, 100%, 25%, 1);
$sec-brand-color: hsla(11%, 37%, 47%, 1);
$color4: hsla(208%, 47%, 56%, 1);
$pri-bg-color: hsla(40%, 35%, 65%, 1);

/* RGB */
$pri-text-color: rgba(28, 24, 21, 1);
$sec-text-color: rgb(247, 191, 230);
$pri-brand-color: rgba(0, 70, 130, 1);
$sec-brand-color: rgba(163, 91, 75, 1);
$color4: rgba(92, 148, 196, 1);
$pri-bg-color: rgba(197, 176, 134, 1);
