.brandedInput {
  background-color: #fff;
  color: $pri-text-color;
  width: 100%;
  padding: 2vh 1vw;
  border-radius: 3px;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  display: inline-block;
}

.plainInput {
  color: $pri-brand-color;
  width: 100%;
  padding: 2vh 2vw 0vh;
}
